# Copy this file to .env.
#
#export DJANGO_ENV=development
#export DJANGO_SECRET_KEY=development
#export DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0
#export DJANGO_WATCHMAN_TOKENS=token
#export DJANGO_DEBUG=True
#export DJANGO_LOG_LEVEL=INFO

# Sentry error tracking (optional).
#export DJANGO_SENTRY_DSN=

# Gunicorn configuration
#export GUNICORN_NUMBER_OF_WORKERS=1
#export GUNICORN_NUMBER_OF_THREADS=1
#export GUNICORN_MAX_REQUESTS=0
#export GUNICORN_TIMEOUT=30
#export GUNICORN_RELOAD=True
#export GUNICORN_LOG_LEVEL=debug

#export CELERY_LOG_LEVEL=info
