# Editor temp files
*~

# Python
__pycache__/
*.py[co]
*.egg*

# Ignore dot files except those required for the project
.*
!.dockerignore
!.editorconfig
!.env.example
!.envrc
!.gitattributes
!.github
!.gitignore
!.gitkeep
!.gitlint
!.pre-commit-config.yaml
!.nvmrc
!.python-version
!.readthedocs.yml

# Any local makefiles
*.mk

/data
/media
/logs
/static

celerybeat-schedule

coverage

docker-compose.override.yml
