x-source: &source
  - ./apps:/app/apps
  - ./bin:/app/bin
  - ./config:/app/config
  - ./locale:/app/locale
  - ./manage.py:/app/manage.py
  - ./templates:/app/templates

services:
  django:
    build:
      target: dev
    ports:
      - "8000:8000"
    volumes: *source
  celery-beat:
    build:
      target: dev
    volumes: *source
  celery-worker:
    build:
      target: dev
    volumes: *source
  flower:
    build:
      target: dev
    depends_on:
      redis:
        condition: "service_started"
        required: false
    environment:
      DJANGO_ENV: ${DJANGO_ENV}
      DJANGO_DEBUG: ${DJANGO_DEBUG}
      DJANGO_LOG_LEVEL: ${DJANGO_LOG_LEVEL}
      DJANGO_SECRET_KEY: ${DJANGO_SECRET_KEY}
      DJANGO_ALLOWED_HOSTS: ${DJANGO_ALLOWED_HOSTS}
    command: celery -A config flower
    ports:
      - "5555:5555"
    volumes: *source
  redis:
    ports:
      - "6379:6379"
