services:
  django:
    build:
      target: dev
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app

  celery-worker:
    build:
      target: dev
    volumes:
      - .:/app

  celery-beat:
    build:
      target: dev
    volumes:
      - .:/app

  flower:
    build:
      target: dev
    volumes:
      - .:/app
