{% extends "base.html" %}
{% load i18n l10n metrics static %}

{% block main %}
  <main>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'site-list' %}">{% trans "Sites" %}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'site-snapshots' snapshot.site.pk %}">{{ snapshot.site.name }}</a></li>
        <li class="breadcrumb-item"><a href="{% url 'snapshot-detail' snapshot.pk %}">{% trans "Report" %}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% trans "Pages" %}</li>
      </ol>
    </nav>

    <h1>{% trans "Pages" %}</h1>

    <ul class="list-unstyled">
      {% for object in page_obj.object_list %}
        <li>
          <a href="{% url 'page-detail' object.pk %}">{{ object.url }}</a>
          {% if object.html_report %}
            — <a href="{% url 'page-report' object.pk %}">{% trans "Lighthouse report" %}</a>
          {% endif %}
        </li>
      {% endfor %}
    </ul>

    <div class="pagination">
      <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?{% param_replace page=1 %}">&laquo; first</a>
          <a href="?{% param_replace page=page_obj.previous_page_number %}">previous</a>
        {% endif %}

        <span class="current">
          Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
          <a href="?{% param_replace page=page_obj.next_page_number %}">next</a>
          <a href="?{% param_replace page=page_obj.paginator.num_pages %}">last &raquo;</a>
        {% endif %}
      </span>
    </div>

  </main>
{% endblock main %}
