{% load static i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %}" sizes="any">
  <link rel="icon" type="image/svg+xml" href="{% static 'icon.svg' %}">
  <link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
  <link rel="manifest" href="{% static 'manifest.webmanifest' %}">
  <title>{% block title %}{% trans "Lighthouse" %}{% endblock %}</title>

  {% block css %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
  {% endblock %}

  {% block javascript %}
  {% endblock %}
</head>
<body>
  {% block header %}
    <header>
    </header>
  {% endblock %}

  {% block messages %}
    <div>
      {% for message in messages %}
      {% endfor %}
    </div>
  {% endblock %}

  <div class="container">
    <div class="row">
      <div class="col">
        {% block left-sidebar %}
        {% endblock %}
      </div>
      <div class="col-8">
        {% block main %}
          <main>
          </main>
        {% endblock %}
      </div>
      <div class="col">
        {% block right-sidebar %}
        {% endblock %}
      </div>
    </div>
  </div>

  {% block footer %}
    <footer>
    </footer>
  {% endblock %}

  {% block extra_js %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  {% endblock %}

</body>
</html>
